btn {
    padding-right: 0px;
    margin-right: -10px; 
   } 
   .carousel-inner img {
    margin-top: 10px;
    width: 612px;
    height: 500px;
    margin: 0 auto; /* Center the image horizontally */
    object-fit: cover;
   }
   h2{
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 10px;
   }
   hr{
    margin-top: 20px;
}

.wrapper {
  display: flex;
  height: 60vh;
}


.image {
  flex: 1;
  margin: 17px;
  margin-left: 0px;
  margin-right: 50px;
  background-size: cover;
  background-position: center;
}

.image img{
  border-radius: 15px;
  transition: transform 0.5s, box-shadow 0.5s;
  transform: scale(1);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.box .h3{
  margin-left: 10px;
}
.card-deck {
  margin: 10px;
}



.text {
  flex: 2;
  padding: 40px;
  background-color: #fff;
}
hr{
    margin-top: 20px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .image, .text {
    flex: none;
  }
}
.box{
    background-color: rgba(216, 235, 255, 0.2);
}
.box h3{
    color: rgb(rgb(112, 42, 252), rgb(10, 44, 217), blue);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 70px;
}
.box .card{
    transition: transform 0.5s, box-shadow 0.5s;
  transform: scale(1);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-img-top {
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
}
.accordion .card {
    display: flex;
  border: none; /* Remove the border */
  margin-bottom: 15px; /* Add some margin between accordion cards */
}

.accordion .card-header {
  background-color: transparent; /* Remove background color */
  padding: 0; /* Remove padding */
}

.accordion .card-header button {
  padding: 1rem; /* Add padding to the button for spacing */
  text-align: left;
}

.accordion .card-body {
  padding: 1rem; /* Add padding to the card body */
}

.accordion .card-body p {
  margin-bottom: 0; /* Remove margin bottom for paragraphs */
}
.container1 h2{
  margin-left: 70px;
}
.btn {
  margin-left: 0px;
}
.box .card{
    margin: 6px;
}